.wpcoder-expand {
  margin-top: 8px;

}

.wpcoder-expand__title {
  color: var(--wowp-blue);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.wpcoder-expand__content {
  padding-block: 8px;
}

.details {
  border: 1px solid var(--wowp-border);
  background-color: #ffffff;
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;

  &[open] {
    padding-block-end: 1.5rem;

    > summary {
      margin-bottom: 0.5rem;
    }
  }

  > summary {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;

    .button-group {
      margin-block: 5px;
    }

    a {
      font-size: 12px;
      font-weight: 400;
    }
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}